*{
    transition: all 0.33s ease;
}

@media (max-width:420px)
{
    .list-group{
        width: 100%!important;
    }
}

h1,
h2{
    font-family: 'Roboto', sans-serif;
    color: #007bff;
}

p{
    font-family: 'Raleway', sans-serif;
}

hr{
    margin: 2%;
}

.font-900{
    font-weight: 900;
}

.font-700{
    font-weight: 700;
}

.container-fluid{
    height: 200px;
}
#profile-wrapper{
    text-align: center;
}

.fawesome{
    width: 28px!important;
}
.fas{
    margin: auto;
}
.list-group-item{
    display: flex !important;
}

.list-group{
    width: 70%;
}

.three-dots{
    text-align: center;
}

.three-dots span{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #007bff;
    display: inline-block;
    margin: 0 5px;
}

.lead{
    width: 70%;
    margin-top: 3%!important;
}